* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1rem;
    align-items: center;
    position: sticky; /* Ensure it stays at the top */
    top: 0;
    z-index: 1000; /* Make sure it's above other elements */
  }
  
  .navbar a {
    color: #fff;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .home {
    padding: 2rem;
  }
  
  .blog-card {
    border: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    & p{
      margin: 5px 0;
    }
  }  
  
  .create-post {
    margin: 20px;
  }
  
  .create-post form {
    display: flex;
    flex-direction: column;
  }
  
  .create-post input,
  .create-post textarea {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
  }
  
  .create-post button {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .create-post button:hover {
    background-color: #444;
  }
  